# deps
node_modules
.next
out
dist

# env
.env
.env.*
!.env.example

# db
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal

# uploads
public/uploads/*
!public/uploads/.gitkeep

# misc
.DS_Store
*.log
.vercel
tsconfig.tsbuildinfo

# editor / agent local files
.agents/
skills-lock.json
