@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 7%;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

a {
  @apply transition-colors;
}
